.elementToFadeInOrOut {
  display: none;
  opacity: 0;
  /*display changed to flex with set timeout @ 20ms to change opacity to 1 triggering transition effect */
  transition: ease-in-out 350ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.65);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.show {
  display: flex;
}
